@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: $gap-lg 0;

  background-color: $color-primary;

  &__title {
    @include visually-hidden;
  }

  &__container {
    display: grid;

    @extend %container;
    gap: $gap;
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
