@use "../../mixins" as *;
@use "../../presets" as *;

.post-topic {

  &__link {
  display: grid;
  height: 100%;
  grid-template-rows: 300px 1fr;
  background-color: lighten($color-gray-light, 5%);
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__caption {

    display: grid;
    align-content: center;

    padding: $gap;

    h3 {
      margin-top: 0;
      text-align: center;
    }

    p {
      text-align: center;
      @include lg-min {
        font-size: 1rem;
      }
    }

  }

}

@for $i from 1 through 6 {
  .post-topic:nth-of-type(#{$i}) {
    grid-area: pt#{$i};
  }
}
