@use "../../mixins" as *;
@use "../../presets" as *;

.posts {

  &__container {
    @extend %container;
  }

  &__content {
    display: grid;

    @include lg-min {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "pt1 pt1 pt2 pt3" "pt4 pt5 pt6 pt6";
    }

    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "pt1 pt1 pt2" "pt3 pt4 pt4" "pt5 pt5 pt6";
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "pt1 pt2" "pt3 pt4" "pt5 pt6";
    }

    @include sm {
      grid-template-areas: "pt1" "pt2" "pt3" "pt4" "pt5" "pt6";
    }
  }

  &____actions {}
}