@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-main;
  overflow-y: scroll;
}

h1 {
  letter-spacing: 0.08em;
  color: $color-light;
  font-weight: 300;
  font-family: $font-header;
  text-align: center;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem;
  }

  @include lg-md {
    font-size: 2.5rem;
  }

  @include md {
    font-size: 1.875rem;
  }

}

h2 {
  margin-top: 0;
  letter-spacing: 0.1em;
  font-family: $font-header;
  line-height: 1.2em;
  color: $color-primary;

  @include lg-min {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  @include lg-md {
    margin-bottom: 2.625rem;
    font-size: 2rem;
  }

  @include md-sm {
    margin-bottom: 2.25rem;
    font-size: 1.5rem;
  }

  @include sm {
    margin-bottom: 2.25rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

p {
  color: $color-gray;

  @include lg-min {
    font-size: 1.125rem;
  }

}

a {
text-decoration: none;
color: $color-light;
}

.btn {
  &--light {
  }
}

h3 {
  letter-spacing: 0.05em;
  font-family: $font-header;
  font-size: 1.125rem;
  // line-height: 1.2em;
  color: $color-gray;
}